<div class="jobs">
    <mat-toolbar>
        <span>Recruit <em style="font-weight: bold; color: var(--primary)">Job.</em></span>
        <span class="space"></span>
    </mat-toolbar>

    <div class="list">
        <div class="list-content " *ngFor="let job of jobs;">
                <div class="list__item">
                    <div class="list__item__header">
                        <div class="info">
                            <!-- <div class="avatar">
                                <img [src]="job.category.image" alt="">
                            </div> -->
                            <div class="list__item__header__text">
                                <h4>{{job.position}}</h4>
                                <p>{{job.category}}</p>
                            </div>
                        </div>
                        <span class="space"></span>
                        <div class="actions">
                            <a [routerLink]="job.id" mat-raised-button href="#" color="primary">Apply</a>
                        </div>
                    </div>
        
                    <div class="list__item__content">
                        <div>
                            <h5>Based in</h5>
                            <p>{{job.city}} {{job.state}}, {{job.country}}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>